@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer components {
	.links {
		&__list {
			@apply mb-3 text-sm text-center;
		}
		&__item {
			@apply inline-block relative;
		}

		&__link {
			@apply px-2 py-1 my-2 overflow-hidden mx-2 pb-1.5 relative transition hover:transition hover:text-[#6c74fe] cursor-pointer;
		}
	}
}
