@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

@layer base {
	body {
		font-family: "Open Sans", "Lato", sans-serif;
		@apply m-0 bg-gray-50 text-gray-900 scroll-smooth;
	}
}

@layer components {
	.info-panel {
		@apply rounded-xl bg-white;
	}

	.links {
		&__list {
			@apply mb-3 text-sm text-center;
		}
		&__item {
			@apply inline-block relative;

			&:not(:last-child)::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0px;
				width: 1px;
				height: 100%;
				background-color: #d7d7d7;
			}
		}

		&__link {
			@apply px-2 py-1 my-2 mx-2 pb-1.5 relative transition hover:transition hover:text-[#6c74fe] cursor-pointer;
		}
	}
}
