@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Open Sans", "Lato", sans-serif;
	color: #414141;
	background-color: #eee;
	scroll-behavior: smooth;
}

#__next {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

@layer components {
	.input {
		@apply flex-1 py-4 rounded-full pl-6 outline-none z-10 pr-5 w-full;
	}
	.input-main {
		@apply tablet:rounded-tr-none tablet:rounded-br-none;
	}
	.submit-button {
		@apply bg-[#4762fb] -translate-x-7 pl-10 pr-7 tablet:pl-7 rounded-tr-full transition rounded-br-full text-white cursor-pointer outline-none hover:bg-[#2042ff] hover:transition tablet:translate-x-0;
	}
	.form {
		@apply flex flex-col w-10/12 tablet:w-11/12 mx-auto mt-10 max-w-3xl;
	}
	.header {
		@apply flex flex-col items-center pt-20 pb-3;
	}
	.h1 {
		@apply text-5xl pb-7 font-bold;
	}
	.h2 {
		@apply text-xl tablet:text-lg inline-block text-center;
	}
	.h3 {
		@apply text-3xl tablet:text-lg inline-block text-center;
	}

	.hidden-description {
		@apply flex items-center gap-1.5 text-sm;
	}
	.hidden__button {
		@apply mt-4 mb-4 ml-2 self-start py-2;
	}

	.notification {
		@apply flex items-center justify-between pr-5 h-full relative w-full;
	}
	.notification-icon {
		@apply transition hover:text-slate-600 hover:transition absolute right-0 bg-[#e5e7eb]  z-10;
	}
	.notification-link {
		@apply absolute w-full overflow-hidden;
	}
	.circle-card {
		@apply relative flex;
	}
	.circle-percent {
		@apply relative scale-[2.7] rotate-[270deg] tablet:scale-[2];
	}
	.svg {
		@apply relative max-w-[150px];
	}
	.circle {
		@apply w-full h-full fill-transparent stroke-[#414141] stroke-[3] translate-x-1 translate-y-1;
	}
	.circle-counter {
		@apply text-7xl absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 animate-fadeIn tablet:text-6xl;
	}
	.circle-icon {
		@apply text-5xl absolute left-1/2 -translate-x-1/2 -top-full  translate-y-1/4 z-10 bg-[#eee] px-1 animate-fill-egg tablet:text-4xl tablet:-top-1/2 tablet:-translate-y-1/4 tablet:px-0.5;
	}
	.circle-cover {
		@apply stroke-[#4762fb] [stroke-dasharray:440] animate-fill-circle;
	}
	.stats__circleContainer {
		@apply flex justify-center items-center h-[100vh] flex-col;
	}
	.stats__backButton {
		@apply absolute text-3xl left-5 top-5 cursor-pointer hover:text-[#313131] transition hover:transition;
	}
	.fourohfour__container {
		@apply flex justify-center items-center flex-1 translate-y-1/4 flex-col scale-75;
	}
	.fourohfour__image {
		@apply -translate-y-4;
	}
	.fourohfour__title {
		@apply text-5xl mb-11 translate-y-10 font-extrabold  ml-10 tracking-widest text-[#1C1C1C] tablet:text-3xl text-center tablet:ml-4;
	}
	.error__container {
		@apply flex justify-center items-center h-[100vh] flex-col;
	}
	.error__container {
		@apply -translate-y-4;
	}
	.error__image {
		@apply -translate-y-4;
	}
	.error__title {
		@apply text-4xl mb-11  ml-10 tracking-widest;
	}
	.footer {
		@apply pb-1 flex items-end place-self-center flex-1 pt-1 mt-3 flex-wrap;
	}

	.links__list {
		@apply mb-3 text-sm text-center;
	}

	.links__link {
		@apply px-2 py-1 my-2 overflow-hidden mx-2 pb-1.5 relative transition hover:transition hover:text-[#6c74fe];
	}
	.mainContent {
		@apply flex self-center mt-5 flex-col w-9/12 tablet:w-11/12;
	}
	.apiExplanation {
		@apply flex mt-20 flex-col gap-3;
	}
	.code {
		@apply border border-[#bcbcbc] my-1 rounded-sm pl-0 flex items-center cursor-pointer;
	}
	.apiMethod {
		@apply bg-[#6c74fe] text-white p-1.5 h-full mr-3 -ml-[1px] rounded-tl-sm rounded-bl-sm px-4;
	}
	.h4 {
		@apply text-xl;
	}
	.h5 {
		@apply text-lg mt-5;
	}
	.jsonCode {
		@apply border border-[#6c73fea8] my-2 py-2 rounded-sm flex items-center bg-[#6c73fe4e] relative pl-2;
	}

	.statusCode {
		@apply absolute right-6 top-2 text-xs;
	}
}

.statusCode::after {
	content: "";
	top: calc(50% - 1px);
	right: -5px;
	transform: translateX(100%) translateY(-50%);
	border-radius: 100%;
	width: 9px;
	height: 9px;
	background-color: #5aa27c;
	position: absolute;
}

.statusCode--error::after {
	background-color: #ff4b4b;
}

.statusCode > span {
	font-weight: bold;
	font-size: 0.8rem;
}

.links__link:not(:last-child)::after {
	content: "";
	position: absolute;
	top: 0;
	right: -9px;
	width: 1px;
	height: 100%;
	background-color: #d7d7d7;
}

::selection {
	background-color: #5c74fe;
	color: #fff;
}
