@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Open Sans", "Lato", sans-serif;
	color: #414141;

	background-color: #eee;
}

@layer components {
	.input {
		@apply flex-1 py-4 rounded-full pl-6 outline-none z-10 pr-5 w-full;
	}
	.input-main {
		@apply tablet:rounded-tr-none tablet:rounded-br-none;
	}
	.submit-button {
		@apply bg-[#4762fb] -translate-x-7 pl-10 pr-7 tablet:pl-7 rounded-tr-full transition rounded-br-full text-white cursor-pointer outline-none hover:bg-[#2042ff] hover:transition tablet:translate-x-0;
	}
	.form {
		@apply flex flex-col w-10/12 tablet:w-11/12 mx-auto mt-10 max-w-3xl;
	}
	.header {
		@apply flex flex-col items-center pt-20 pb-3;
	}
	.h1 {
		@apply text-4xl pb-4 font-bold;
	}
	.h2 {
		@apply text-xl tablet:text-lg inline-block text-center;
	}

	.hidden-description {
		@apply flex items-center gap-1.5 text-sm;
	}
	.hidden__button {
		@apply mt-4 mb-4 ml-2 self-start py-2;
	}

	.notification {
		@apply flex items-center justify-between pr-5 h-full relative w-full;
	}
	.notification-icon {
		@apply transition hover:text-slate-600 hover:transition absolute right-0 bg-[#e5e7eb]  z-10;
	}
	.notification-link {
		@apply absolute w-full overflow-hidden;
	}
	.circle-card {
		@apply relative flex;
	}
	.circle-percent {
		@apply relative scale-[2.7] rotate-[270deg] tablet:scale-[2];
	}
	.svg {
		@apply relative max-w-[150px];
	}
	.circle {
		@apply w-full h-full fill-transparent stroke-[#414141] stroke-[3] translate-x-1 translate-y-1;
	}
	.circle-counter {
		@apply text-7xl absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 animate-fadeIn tablet:text-6xl;
	}
	.circle-icon {
		@apply text-5xl absolute left-1/2 -translate-x-1/2 -top-full  translate-y-1/4 z-10 bg-[#eee] px-1 animate-fill-egg tablet:text-4xl tablet:-top-1/2 tablet:-translate-y-1/4 tablet:px-0.5;
	}
	.circle-cover {
		@apply stroke-[#4762fb] [stroke-dasharray:440] animate-fill-circle;
	}
	.stats__circleContainer {
		@apply flex justify-center items-center h-[100vh] flex-col;
	}
	.stats__backButton {
		@apply absolute text-3xl left-5 top-5 cursor-pointer hover:text-[#313131] transition hover:transition;
	}
}

::selection {
	background-color: #5c74fe;
	color: #fff;
}
